.news-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
 
  }
  
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .article {
    flex: 0 1 calc(33.33% - 20px);
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 25px;
  }
  
  .article h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .article p {
    margin-bottom: 10px;
  }
  
  .article-image {
    width: 80%;
    height: 50vh;
    margin-left: 80px;
    border-radius: 20px;
  }
  
.article a {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
  }

  .article button{
    margin-top: 3%;
    margin-left: 40%;
    background-color: var(--cadetBlue);
    border: none;
    border-radius: 90px;
    padding: 5px 20px;
    transition: all linear 0.1s;
  }
  .article button:hover{
    background-color: var(--light);

  }
.info{
  font-weight: 500;
  font-size: 0.8em;
}